{% extends "layout.html" %}
{% block head %}
<link href="static/css/signin.css" rel="stylesheet">
{% endblock %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block nav %}{% endblock %}
{% block content %}
<body class="text-center">
  <div class="container">
{% include "security/_messages.html" %}
<h1>{{ _('Register') }}</h1>
<form action="{{ url_for_security('register') }}" class="form-signin" method="POST" name="register_user_form">
  {{ register_user_form.hidden_tag() }}
  {{ render_field_with_errors(register_user_form.email, class="form-control") }}
  {{ render_field_with_errors(register_user_form.password, class="form-control") }}
  {% if register_user_form.password_confirm %}
  {{ render_field_with_errors(register_user_form.password_confirm, class="form-control") }}
  {% endif %}
  {{ render_field(register_user_form.submit) }}
</form>
{% include "security/_menu.html" %}
</div>
</body>
{% endblock %}
