{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container">
  <!-- Content here -->
<form action="{{ url_for('add_roles') }}" method=post class=add-entry>
  <div class="form-group">
    <label for="nameBox">Namn</label>
    <input name="name" id="nameBox" class="form-control" type=text size=30 name=title cols="20">
  </div>
  <div class="form-group">
    <label for="descriptionBox">Beskrivning</label>
    <textarea name="description" id="descriptionBox" class="form-control" rows="3" cols="20"></textarea>
    <input class="btn btn-primary" type=submit value=Submit>
  </div>
</form>
</div>
{% endblock %}
