{% extends "layout.html" %}

{% block head %}
<style>
        .ct-series-b .ct-bar, .ct-series-b .ct-line, .ct-series-b .ct-point, .ct-series-b .ct-slice-donut {
             stroke: lightgrey;
        }
</style>
{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="container">
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <div class="ct-chart ct-perfect-fourth"></div>
  </div>
  <div class="card-body  text-center">
    <h5 class="card-title">{{ goal.title }}</h5>
    <a href="{{ url_for('goal_events', goal_id=goal_id, mission_id=mission_id) }}" class="btn btn-primary">Lägg till!</a>
  </div>
  <div class="card-body">
    <p class="card-text">{{ goal.description }}</p>
    <p class="card-text">Mål: {{ goal.goal_count }}</p>
    <p class="card-text">Utförda: {{ events }}</p>
  </div>
  <div class="card-footer text-muted">
    <p class="card-text">Deadline: {{ deadline }}</p>
  </div>


  </div>
  </div>

  <script>var chart = new Chartist.Pie('.ct-chart', {
  series: [{{ events }}, {{ goal.goal_count - events }}],
  labels: [{{ events / goal.goal_count * 100 }}, ' ']
}, {
  donut: true,
  showLabel: false
});

chart.on('draw', function(data) {
  if(data.type === 'slice') {
    // Get the total path length in order to use for dash array animation
    var pathLength = data.element._node.getTotalLength();

    // Set a dasharray that matches the path length as prerequisite to animate dashoffset
    data.element.attr({
      'stroke-dasharray': pathLength + 'px ' + pathLength + 'px'
    });

    // Create animation definition while also assigning an ID to the animation for later sync usage
    var animationDefinition = {
      'stroke-dashoffset': {
        id: 'anim' + data.index,
        dur: 1000,
        from: -pathLength + 'px',
        to:  '0px',
        easing: Chartist.Svg.Easing.easeOutQuint,
        // We need to use `fill: 'freeze'` otherwise our animation will fall back to initial (not visible)
        fill: 'freeze'
      }
    };

    // If this was not the first slice, we need to time the animation so that it uses the end sync event of the previous animation
    if(data.index !== 0) {
      animationDefinition['stroke-dashoffset'].begin = 'anim' + (data.index - 1) + '.end';
    }

    // We need to set an initial value before the animation starts as we are not in guided mode which would do that for us
    data.element.attr({
      'stroke-dashoffset': -pathLength + 'px'
    });

    // We can't use guided mode as the animations need to rely on setting begin manually
    // See http://gionkunz.github.io/chartist-js/api-documentation.html#chartistsvg-function-animate
    data.element.animate(animationDefinition, false);
  }
});

// For the sake of the example we update the chart every time it's created with a delay of 8 seconds
chart.on('created', function() {
  if(window.__anim21278907124) {
    clearTimeout(window.__anim21278907124);
    window.__anim21278907124 = null;
  }
  window.__anim21278907124 = setTimeout(chart.update.bind(chart), 10000);
});

</script>


</div>
{% endblock %}
